<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <title>Portfolio | Food</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <main class="food-page">
    <header class="food-container">
        <h1>Favorite Food</h1>
        <p>Food brings people together, whether it’s a comforting Filipino dish, a hot bowl of ramen, or a delicious BBQ. It can lift your mood, bring back memories, and spark creativity. Whether I’m trying new flavors or enjoying old favorites, good food always makes life better.</p>
    </header>
    
    <section class="food-list">
        <div class="food-item">
            <h2>🍕 Pizza</h2>
        </div>
        
        <div class="food-item">
            <h2>🍣 Sushi</h2>

        </div>
        
        <div class="food-item">
            <h2>🍦 Ice Cream</h2>
        </div>

            <div class="food-item">
                <h2>🍔 Burger</h2>
            </div>
            
            <div class="food-item">
                <h2>🍝 Pasta</h2>
            </div>
            
            <div class="food-item">
                <h2>🍜 Ramen</h2>
            </div>
            </section>
        </main>
    {% endblock %}
</body>
</html>