<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <title>Portfolio | Home</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <header class="homehead-container">
        <div class="head-container">
            <h1>Hi, <span id="span">Welcome!</span></h1>
        <p>I'm Andrei Gueco</p>
        <p>Future Frontend Developer </p>
        </div>
    </header>
    {% endblock %}
</body>
</html>