<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <title>Portfolio | Profession</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <main class="profession-page">
    <header class="profession-container">
        <h1>Frontend Developer</h1>
        <p>Passionate Frontend Developer crafting responsive and visually engaging web experiences with HTML, CSS, JavaScript, and backend integration.</p>
    </header>
    <section class="profession-list">
        <div class="profession-item">
            <h2><i class="ri-code-line"></i> Frontend Development</h2>
            <p>I'm focused on building user-friendly and responsive web pages with clean layouts and smooth interactions. I have a good understanding of HTML and CSS, and I’m currently learning JavaScript to add more interactivity. My goal is to create well-structured, visually appealing designs that work well on all devices.</p>
        </div>
        <div class="profession-item2">
            <h2><i class="ri-brush-line"></i> UI/UX Design</h2>
            <p>I'm learning to design user-friendly interfaces that make websites easy and enjoyable to use. I’m exploring accessibility, simple navigation, and clean, appealing visuals. While I’m still building my skills, I enjoy experimenting with layouts, colors, and typography to create designs that look good and feel easy to navigate.</p>
        </div>
        <div class="profession-item3">
            <h2><i class="ri-computer-line"></i> Web Development</h2>
            <p>I'm learning to build websites using modern tools, with a growing interest in how design connects with functionality. While I haven’t worked on dynamic websites yet, I’m eager to explore both frontend and backend development to create smooth, user-friendly experiences.</p>
        </div>
    </main>   
       {% endblock %}
</body>
</html>